<!DOCTYPE html>
<title>
{% block title %}
{% endblock %} - Flask_test
</title>

{% block body %}
   
        <h1>Hello and welcome!</h1>
        <p>You can Use this app as it follows</p>
        <ul>
            <li><a href="/jokes/dad">For a random Dad Joke</a></li>
            <li><a href="/jokes/chuck">For a random Chuck Norris Joke</a></li>
            <li><a href="/number/">For number</a></li>
            <li><a href="/numbers/">Numbers</a></li>
        </ul>

        <p>
            Random Dad Joke returns a Dad joke from <a href="https://icanhazdadjoke.com/" target="_blank">icanhazdadjoke.com</a>  
        </p>
        <p> 
            Random Chuck Norris joke returns a Joke from <a href="https://api.chucknorris.io" target="_blank">api.chucknorris.io</a> 
        </p>
        <p>
            In number you pass in the URL an integer and returns that integer + 1. If you don't pass any number the example code runs with 1 + 1. 
        </p>
        <p>
            In number you pass in the URL a list of numbers separated by ',' and returns the least common multiple of them. If you don't pass any parameter in the url the example code runs with the list 2,3.
        </p>
{% endblock %}

